<%- include("../layouts/header.ejs") %>;

<div id="mainBody">
  <div class="container">
    <div class="row">
        <%- include("../layouts/sidebar.ejs") %>;


        <div class="span9">
            <ul class="breadcrumb">
                <li><a href="/">Home</a> <span class="divider">/</span></li>
                <li class="active">Login</li>
            </ul>
            <h3> Login</h3>	
            <hr class="soft"/>
            
            <div class="row">
                <div class="span1"> &nbsp;</div>
                <div class="span4">
                    <div class="well">
                    <h5>ALREADY REGISTERED ?</h5>
                    <form action="/login" method="post">
                      <div class="control-group">
                        <label class="control-label" for="inputEmail1">Email</label>
                        <div class="controls">
                          <input class="span3"  type="text" id="inputEmail1" name="email" placeholder="Email">
                        </div>
                      </div>
                      <div class="control-group">
                        <label class="control-label" for="inputPassword1">Password</label>
                        <div class="controls">
                          <input type="password" class="span3"  id="inputPassword1" name="password" placeholder="Password">
                        </div>
                      </div>
                      <div class="control-group">
                        <div class="controls">
                          <button type="submit" class="btn">Sign in</button> <a href="forgetpass.html">Forget password?</a>
                        </div>
                      </div>
                    </form>
                </div>
                </div>
            </div>	
            
        </div>



    </div>
  </div>
</div>

<%- include("../layouts/footer.ejs") %>;
