<%- include('../layouts/header.ejs')  %>

<div id="mainBody">
    <div class="container">
        <div class="row">

            <%- include('../layouts/sidebar.ejs')  %>

            <div class="span9">
                <ul class="breadcrumb">
                    <li><a href="index.html">Home</a> <span class="divider">/</span></li>
                    <li class="active"> SHOPPING CART</li>
                </ul>
                <h3> SHOPPING CART [ <small>3 Item(s) </small>]<a href="/" class="btn btn-large pull-right"><i
                            class="icon-arrow-left"></i> Continue Shopping </a></h3>
                <hr class="soft" />

                <% if (orders.length > 0) { %>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th>Description</th>
                            <th>Quantity/Update</th>
                            <th>Price</th>
                            <th>Discount</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <td colspan="6" style="text-align:right"><strong>TOTAL =</strong></td>
                        <td class="label label-important" style="display:block"> <strong> $155.00 </strong></td>
                        </tr>
                    </tbody>
                </table>
                <% } else { %>
                <h2>No orders found.</h2>
                <% } %>
                <form action="/orders" method="POST">
                    <button type="submit" class="btn btn-large pull-right">Order now <i
                            class="fas fa-shopping-cart"></i></button>
                </form>


            </div>
        </div>
    </div>
</div>
<!-- MainBody End ============================= -->
<%- include('../layouts/footer.ejs') %> 