<%- include('../layouts/header.ejs') %>
<div id="mainBody">
    <div class="container">
        <div class="row">
            <%- include('../layouts/sidebar.ejs') %>
            <div class="span9">
                <ul class="breadcrumb">
                    <li><a href="/">Home</a> <span class="divider">/</span></li>
                    <li class="active">Registration</li>
                </ul>
                <h3> Registration</h3>
                <div class="well">
                    <form class="form-horizontal" action="/register" method="POST">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                        <h4>Your personal information</h4>
                        <div class="control-group">
                            <label class="control-label" for="inputFname1">Username <sup>*</sup></label>
                            <div class="controls">
                                <input type="text" id="inputFname" name="username" placeholder="Username">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="input_email">Email <sup>*</sup></label>
                            <div class="controls">
                                <input type="text" id="input_email" name="email" placeholder="Email">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="inputPassword1">Password <sup>*</sup></label>
                            <div class="controls">
                                <input type="password" id="inputPassword1" name="password" placeholder="Password">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="inputPassword2">Confirm Password <sup>*</sup></label>
                            <div class="controls">
                                <input type="password" id="inputPassword1" name="confirm_password"
                                    placeholder="Confirm Password">
                            </div>
                        </div>
                        <p><sup>*</sup>Required field </p>
                        <button type="submit">Register</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <%- include('../layouts/footer.ejs') %>